# unstructured
# tiktoken
pinecone-client
pypdf
openai
langchain
langchain_community
langchain_openai
pandas
numpy
python-dotenv
# sentence-transformers
pinecone
langchain_pinecone
flask
torch 
transformers 
datasets 
accelerate
sentencepiece
protobuf
googletrans
firebase-admin
dotenv
spacy
spacy-lookups-data